<div class="bg-white p-1 shadow-md rounded-md mt-4">
  <div
    class="max-w-screen-xl px-4 py-5 mx-auto space-y-7 overflow-hidden sm:px-6 lg:px-8"
  >
    <div class="flex justify-center mt-7 space-x-6">
      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Facebook</span>
        <i class="fab fa-facebook w-6 h-6"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/arpit-agrawal24"
        target="_blank"
        class="text-gray-400 hover:text-gray-500"
      >
        <i class="fab fa-linkedin w-6 h-6"></i>
      </a>
      <a
        href="https://www.instagram.com/arpit_agrawal4"
        target="_blank"
        class="text-gray-400 hover:text-gray-500"
      >
        <span class="sr-only">Instagram</span>
        <i class="fab fa-instagram w-6 h-6"></i>
      </a>
      <a
        href="https://twitter.com/ArpitAgrawal24"
        target="_blank"
        class="text-gray-400 hover:text-gray-500"
      >
        <span class="sr-only">Twitter</span>
        <i class="fab fa-twitter w-6 h-6"></i>
      </a>
      <a href="#" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <i class="fab fa-github w-6 h-6"></i>
      </a>
    </div>
    <p class="mt-8 text-base leading-6 text-center text-gray-400">
      Copyright © 2024 Git Explorer, Inc. All rights reserved.
    </p>
  </div>
</div>
